<div style="text-align: center;" class="size30">
    <h3>
        <style>
            table {
                width: 500px;
                letter-spacing: 15px;
                border: 1px solid white
            }
            th,td {
                border: 1px solid white;
            }
        </style>
        <table>
            <tr>
                <td>3</td>
                <td>1</td>
                <td style="border-right: 5px double white">6</td>
                <td style="border-left: 5px double white">6</td>
                <td>8</td>
                <td>3</td>
            </tr>
            <tr>
                <td>6</td>
                <td>3</td>
                <td style="border-right: 5px double white">1</td>
                <td style="border-left: 5px double white">2</td>
                <td>5</td>
                <td>7</td>
            </tr>
            <tr>
                <td>0</td>
                <td>1</td>
                <td style="border-right: 5px double white">8</td>
                <td style="border-left: 5px double white">7</td>
                <td>5</td>
                <td>9</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td style="border-right: 5px double white">4</td>
                <td style="border-left: 5px double white">5</td>
                <td>x</td>
                <td>2</td>
            </tr>
            <tr>
                <td>0</td>
                <td>6</td>
                <td style="border-right: 5px double white">5</td>
                <td style="border-left: 5px double white">4</td>
                <td>9</td>
                <td>0</td>
            </tr>
            <tr>
                <td>3</td>
                <td>8</td>
                <td style="border-right: 5px double white">0</td>
                <td style="border-left: 5px double white">0</td>
                <td>6</td>
                <td>4</td>
            </tr>
            <tr>
                <td>2</td>
                <td>9</td>
                <td style="border-right: 5px double white">y</td>
                <td style="border-left: 5px double white">0</td>
                <td>4</td>
                <td>3</td>
            </tr>
            <tr>
                <td>1</td>
                <td>0</td>
                <td style="border-right: 5px double white">1</td>
                <td style="border-left: 5px double white">1</td>
                <td>2</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>0</td>
                <td style="border-right: 5px double white">5</td>
                <td style="border-left: 5px double white">0</td>
                <td>0</td>
                <td>z</td>
            </tr>
        </table>
        <br>
        XYZ = ?
    </h3>
</div>
