<head>
    <meta charset="uth-8">
    <div style="position: relative;">
        <img src="/assets/backgroundProblem.jpg" style="height: 100vh">
        <div class="child">
            <!-- <div style="left: 100px; width: 450px; bottom: 140px; font-size: 1.8em; font-weight: bold; position: absolute; background: transparent;"> -->

            <h3 style="background: transparent; text-align: center; font-size: 30px;">&nbsp;&nbsp;M A R Y</h3>
            <h3 style="background: transparent; text-align: center; font-size: 30px;">+ M A R Y</h3>
            <h3 style="background: transparent; text-align: center; font-size: 30px;">__________</h3>
            </h3>

        </div>
    </div>
</head>

</html>