<!DOCTYPE html>
<html>
    <head>
        <meta charset="uth-8">
        <div style="position: relative;">

            <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FyLLz1%2Fbtq3UbStI31%2FEixaFXysWhAjjQvKtkSmXK%2Fimg.png">
            <div class="child">
            <!-- <div style="left: 100px; width: 450px; bottom: 140px; font-size: 1.8em; font-weight: bold; position: absolute; background: transparent;"> -->
            
                <h3 style="background: transparent; text-align: center;">&nbsp;&nbsp;M A R Y</h3>
                <h3 style="background: transparent; text-align: center;">+ M A R Y</h3>
                <h3 style="background: transparent; text-align: center;">__________</h3>
                </h3>
            
            </div>
        </div>
    </head>
</html>
