<img src="/assets/crossword.png">
<div>
    <h2>Vertical key</h2>
    <h3>
        1. Cellular organ that oxidizes NADH and FADH2.
        <br>
        2. Inner Membrane structure of the endoplasmic reticulum(ER)
        <br>
        5. The pripheral nervous system that receives instruction from the cerebrum
        <br>
        6. Ion-bonding substances present in the stomach which activate pepsin
        <br>
        7. Symptoms of inability to distinguish color normally due to abnormalities in conical cells.
        <br>
        9. Cellular organelle with ribosomes attached to the surface.
        <br><br>
    </h3>
    <h2>

    <h2>Horizontal Key</h2>
    <h3>
        3. Name of mitochondrial endomembrane structure
        <br>
        4. The organelles responsible for photosynthesis in plant cells.
        <br>
        8. Turner syndrome and Kleinfeld syndrme develop by XXXX abnormality
        <br>
        10. Substances produced after succinyl-CoA in the Cutyric Cycle.
    </h3>
    <h2>
</div>