<img src="/assets/crossword.png">
<h2>세로 열쇠</h2>
<h3>
    1. NADH 및 FADH2를 산화시키는 세포소기관
    <br>
    2. 소포체(ER)의 내막 구조
    <br>
    5. 말초신경계 중 대뇌의 지시를 받는 신경계
    <br>
    6. 소화 효소를 펩신을 활성화시키는, 위에 존재하는 이온결합물질
    <br>
    7. 원추세포의 이상으로 색깔을 정상적으로 구분하지 못하는 증상
    <br>
    9. 표면에 리보솜이 붙어 있는 세포소기관
    <br><br>
</h3>
<h2>

<h2>가로 열쇠</h2>
<h3>
    3. 미토콘드리아 내막 구조의 명칭
    <br>
    4. 식물세포에서 광합성을 담당하는 세포소기관
    <br>
    8. 터너 증후군 및 클라인펠트 증후군은 XXXX 이상으로 발생
    <br>
    10. Cirtic Cycle에서 석시닐-CoA 다음에 생성되는 물질
</h3>
<h2>